<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Today</h1>
        <p><%= DateTime.new.strftime("The date is %A, %B %e, %Y.")%></p>
    </body>
</html>
